{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    <form method="post">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.username) }}
        <button type="submit">Save</button>
        {{ form_end(form) }}
    </form>

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
